.product {
	background: white;
	margin: 16px;
	width: 200px;
	border-radius: 2px;
	/*.product-image {
		overflow: hidden;
		border-radius: 2px 2px 0 0;
		max-height: 200px
		.img {
			cursor: zoom-in;
			width:100%;
			height: auto;
		}
	}
	.product-name {
		font-weight: normal;
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 8px;
	}
	.product-price {
		font-size: 22px;
		font-weight: 700;
		line-height: 22px;
		margin-bottom: 16px;
		&:before {
			content: "$ ";
		}
	}
	.product-name,
	.product-price {
		color: $gray-medium;
		padding: 0 16px;
		text-align: center
	}*/
}